body{
    background-color: #d9d9d9;
    height: 100%;
}

#page-body{
    min-height: 229px;
    width: 100vw;
    margin: 60px auto 60px 0;
    
    font-size: 1.2rem;
    line-height: 1.6;
}

#page-body div{
    margin: 20px;
}

#page-body .layout{
    display: inline-block;
    vertical-align: top;
    background-color: white;
    border: 1px solid black;
    width: 45vw;

    min-height: 515px;
}

#page-body .layout .image{
    margin: 0;
    min-height: 515px;
    min-width: 100%;
    max-width: 100%;
    background-image: url(//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/80f9d9d02af9527ab358c361/pexels-photo-3335367.jpeg);
    background-size: cover;
    background-position: center;
}

#page-body .layout .article > p {
    padding: 10px 30px 10px 30px;
    text-align: left;
}

#page-body .layout .article .button{
    display: table;
    cursor: pointer;
    box-sizing: content-box;
    width: 80px;
    height: 10%;
    border: 2px solid black;

    margin: 0 20px 0 0;
    padding: 10px 30px 10px 30px;
}
