body{
    background-color: #d9dae0;
}



#page-body {
    margin: 0 auto;
    text-align: center;
    color: black;
}

#page-body .page-title {
    width: 100%;
    font-size: 2.25rem;
    word-wrap: break-word;
}

#page-body .rooms-list {
    position: relative;
    display: inline;
    margin: 0;
    padding: 0;
    width: 100%;

    border: 1px solid white;
    background-color: white;
    word-wrap: break-word;
}

#page-body .rooms-list .room {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

#page-body .rooms-list .room > img{
    
}
