body{
    background-color: #d9dae0;
}

#page-body {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: black;

    border: 1px solid red;
}

.page-title {
    width: 100%;
    font-size: 2.25rem;
    word-wrap: break-word;
}

.room {
    display: inline-block;

    width: 30%;
    max-width: 70%;
    min-width: 200px;
    background-color: white;
    word-wrap: break-word;
    margin: 10px;

    border: 1px solid black;
}

.room img {
    width: 100%;
}
